.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure relative positioning for the back arrow */
}

/* Styling for the back arrow button */
.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;  /* Adjust size if needed */
    height: 40px; /* Ensure it's not stretched */
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 10; /* Ensure the back arrow is on top of other content */
}

.player img:hover {
    transform: scale(1.1); /* Add some scaling effect when hovered */
}

/* Styling for the iframe (video player) */
.player iframe {
    border-radius: 10px;
    width: 80%;
    height: 70%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


/* Info Section */
.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* Player Button Styling */
.player-link {
    background-color: #ff4747; /* Red background for prominence */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover Effect for Player Button */
.player-link:hover {
    background-color: #e03636; /* Slightly darker red */
    transform: scale(1.05);
}

/* Icon Style Inside Button */
.player-link svg {
    margin-right: 10px;
    font-size: 24px;
}
